@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);

    --fonte-destaque: 'Outfit', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-destaque);
    text-align: center;
}

body{
    background-color: var(--Slate300);
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

main{
    background-color: white;
    height: 450px;
    width: 300px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
}

img{
    width: 90%;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    font-size: 18px;
    padding: 0px 31px;
}

p{
    font-weight: 400;
    font-size: 15px;
    padding: 0px 31px;
}